@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoProject.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<h1 id="heading">@Model.Value("heading")?.ToString()?.ReplaceSpecialCharacters()</h1>
